
.bloom {
    background-image: url("./../images/full-bloom.png");
}

/* Fixing navbar height */
.head2 {
    margin-bottom: -8px;
}

/* Background border top */
#bgb {
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-top-color: #4aaaa5 !important;
}

#foot {
    border-top-style: solid !important;
    border-top-width: 8px !important;
    border-top-color: #16A2B7 !important;
}
/* #hangman {
    background-image: url("./../images/hangman.png");
} */

